.Header {
    text-align: center;
  }
  
  .Header-logo {
    animation: App-logo-spin infinite 30s linear;
    height: 90px;
  }
  
  .App-header {
    background-image: linear-gradient(white, skyblue);
    height: 150px;
    padding: 20px;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    border: 1px solid lightgrey;
    border-radius: 20px;
  }
  
  .App-title {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -1px 0 rgb(19, 18, 18), 0 1px darkgrey, 1px 0 rgb(19, 18, 18), 0 -1px rgb(19, 18, 18);
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }